@import '../../styles/variables';

.AddAlbumPage {
  padding-top: 2em;
  display: block;
  height: 100%;
  background-color: $background-color-transparent;
  padding-bottom: 5em;
  .no-result {
    margin-top:4em;
  }
  .add-album-title {
    font-size: 1.5em;
  }
  .album-display {
    margin-top: 3em;
  }
}