@import '../../styles/variables';

.SubcollectionObject {
  display: block;
  margin-bottom: 1em;
  .btn {
    margin-bottom: .25em;
  }
  .sub-object-card {
    background-color: $secondary-background-color;
    box-shadow: 3px 3px 3px grey;
    .subcollection-title {
      font-size: 2em;
    }
  }
  .collapsing {
    -webkit-transition: none;
    transition: none;
    display: none;
}
}