@import '../../styles/variables';

.AlbumPage {
  display: block;
  height: 100%;
  background-color: $background-color;
  .card {
    background-color: transparent;
    border: none;
  }
  .album-title {
    font-size: 2em;
  }
  .card-columns {
    column-count: 1;
    @media (min-width: 768px) {
      column-count:2;
      }

  }
  Table {
    background-color: $secondary-background-color;
    thead {
      background-color: grey;
    }
  }
  .album-image {
    width: 100%;
  }
  .list-group-item {
    background-color: $secondary-background-color;
  }
  .card-title {
    background-color: grey;
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 0;
  }
}