@import '../../styles/variables';

.CollectionAlbum {
  background-color: $secondary-background-color;
  padding-top: 1em;
  padding-bottom: 1em;
  display: block;
  margin-top: 2em;
  box-shadow: 3px 3px 3px grey;
  .album-img {
    width: 100%;
  }
  .form-check-label {
    margin-top: .75em;
  }
}