@import '../../styles/variables';

.CollectionSearchBar {
  .genre-filter-btn {
    margin-top: .25em;
  }
  .collapsing {
    -webkit-transition: none;
    transition: none;
    display: none;
}
.collapse{
  background-color: $secondary-background-color;
  box-shadow: 3px 3px 3px grey;
  border-top: .3px solid grey;
  border-left: .3px solid grey;
}
}